<mt:setvar name="page_title" value="<__trans phrase="Manage Assets">">
<mt:setvarblock name="html_head" append="1">
<style type="text/css">
    .file_preview { width: 240px !important; overflow: hidden; }
    .detail { width: 100% !important }
    .vars input[type="text"],
    .vars textarea { width: 95%; }
    .plugin-actions { display: none; }
    #asset-listing-table .status-missing {
        background: url("<mt:var name="static_uri" escape="html">images/status_icons/warning.gif") no-repeat scroll left center transparent;
        margin-left: 5px;
        padding-left: 10px;
    }
    #created_on-field input,
    #modified_on-field input {
        background-color: #ddd;
        color: #666;
    }
</style>
</mt:setvarblock>
<mt:include name="include/header.tmpl" id="header_include">
<mt:setvarblock name="save_button_title"><__trans phrase="Save these [_1] (s)" params="<mt:var name="object_label_plural" lower_case="1">"></mt:setvarblock>
<mt:setvarblock name="action_buttons">
  <button
   mt:command="submit"
   mt:mode="save_assets"
   type="submit"
   accesskey="s"
   title="<$mt:var name="save_button_title"$>"
   class="save action primary button primary-button mt-submit-items">
  <__trans phrase="Save">
  </button>
  <button
   mt:command="cancel"
   mt:mode="cancel_assets"
   type="cancel"
   title="<__trans phrase="Cancel">"
   class="action button cancel">
  <__trans phrase="Cancel">
  </button>
</mt:setvarblock>
<mtapp:listing>
<mt:if __first__>
  <thead>
    <tr>
      <th class="col head file_preview"><span class="col-label"><__trans phrase="Preview"></span></th>
      <th class="col head detail" colspan="2"><span class="col-label"><__trans phrase="Details"></span></th>
    </tr>
  </thead>
  <tbody>
</mt:if>
    <tr id="asset-<mt:var name="id" escape="html">" class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
      <td class="col file_preview">
        <input type="hidden" name="id" value="<mt:var name="id" escape="html">" id="id" />
        <input type="hidden" id="asset-<mt:var name="id" escape="html">-json" value="<mt:var name="metadata_json" escape="html">" />
<mt:unless name="file_is_missing">
        <a href="<$mt:var name="url" escape="html"$>">
          <img src="<$mt:var name="thumbnail_url" escape="html"$>" alt="<$mt:var name="file_label" escape="html" default="$file_name"$>" />
        </a>
<mt:else>
        <$mt:var name="file_label" escape="html" default="$file_name"$><span class="status-missing">(<__trans phrase="Asset Missing">)</span>
</mt:unless>
      </td>
      <td class="col vars">
        <div>
          <mtapp:setting
           id="file_name"
           label_class="top-label"
           label="<__trans phrase="Name">">
            <div class="textarea-wrapper">
              <input type="text" name="label_<mt:var name="id" escape="html">" id="label_<mt:var name="id" escape="html">" class="text full full-width" value="<$mt:var name="file_label" escape="html" default="$file_name"$>" />
            </div>
          </mtapp:setting>
          <mtapp:setting
           id="tags"
           label_class="top-label"
           label="<__trans phrase="Tags">">
            <div class="textarea-wrapper">
              <input type="text" name="tags_<mt:var name="id" escape="html">" id="tags_<mt:var name="id" escape="html">" class="text full full-width" value="<$mt:var name="tags" escape="html"$>" />
            </div>
          </mtapp:setting>
          <mtapp:setting
           id="description"
           label_class="top-label"
           label="<__trans phrase="Description">">
            <textarea name="description_<mt:var name="id" escape="html">" id="description_<mt:var name="id" escape="html">" class="full full-width" rows="4"><$mt:var name="description" escape="html"$></textarea>
          </mtapp:setting>
        </div>
      </td>
      <td class="col statics">
        <div>
          <div class="field">
            <__trans phrase="Type">:<mt:var name="asset_type" escape="html">
          </div>
          <mtapp:setting
           id="created_on"
           label_class="top-label"
           label="<__trans phrase="Created On">">
            <div class="textarea-wrapper">
              <input type="text" name="created_on_<mt:var name="id" escape="html">" value="<mt:var name="created_on_time_formatted" escape="html">" class="text full full-width" readonly="readonly" />
            </div>
          </mtapp:setting>
          <mtapp:setting
           id="modified_on"
           label_class="top-label"
           label="<__trans phrase="Modified On">">
            <div class="textarea-wrapper">
              <input type="text" name="modified_on_<mt:var name="id" escape="html">" value="<mt:var name="modified_on_time_formatted" escape="html">" class="text full full-width" readonly="readonly" />
            </div>
          </mtapp:setting>
          <mtapp:setting
           id="created_by"
           label_class="top-label"
           label="<__trans phrase="Created By">">
            <mt:var name="created_by">
          </mtapp:setting>
<mt:if name="class" eq="image">
          <mtapp:setting
           id="file_size"
           label_class="top-label"
           label="<__trans phrase="FileSize">">
            <mt:var name="file_size_formatted" escape="html"> (<mt:var name="image_width" escape="html">px &times; <mt:var name="image_height" escape="html">px)
          </mtapp:setting>
</mt:if>
        </div>
        <div id="append_statics">
        </div>
      </td>
    </tr>
<mt:if __last__>
  </tbody>
</mt:if>
</mtapp:listing>
<mt:setvarblock name="jq_js_include" append="1">
  jQuery('button.mt-submit-items').mtSubmitItems({
    id: '<$mt:var name="object_type"$>-listing-form'
  });
</mt:setvarblock>
<mt:include name="include/footer.tmpl">