<$mt:setvar name="page_title" value="<__trans phrase="Modify AssetBasePath">"$>

<mt:setvarblock name="js_include" append="1">
    <!--// this MUST loaded after mt.js // -->
</mt:setvarblock>

<mt:include name="include/header.tmpl">

<form method="post" action="<$mt:var name="script_url"$>">
  <input type="hidden" name="__mode" value="duplicate_mode_copy" >
  <input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />

  <div>
    <label><__trans phrase="Current Path"></label><br />
    <input type="text" name="old_path" disabled="disabled" value="<mt:var name="old_path">" />
  </div>
  <div>
    <label><__trans phrase="New Path"></label><br />
    <input type="text" name="new_path" value="<mt:var name="old_path">" />
  </div>
  <table>
    <tr><th>Item Label</th><th>Current Item Path</th>
<mt:loop name="items">
    <tr id="<mt:var name="id">"><td><mt:var name="name"></td><td><mt:var name="path"></td></tr>
</mt:loop>
  </table>
  <mtapp:setting
    id="action_bars">
      <button
        type="submit"
        accesskey="v"
        title="<__trans phrase="Save"> (v)"
        class="primary-button action"
        ><__trans phrase="Save"></button>
      <button 
        type="submit" 
        accesskey="x" 
        class="cancel action"
        title="<__trans phrase="Cancel"> (x)"
        ><__trans phrase="Cancel"></button>
  </mtapp:setting>

</form>

<mt:include name="include/footer.tmpl">
